/node_modules
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/storage/*.key
/public/hot
/public/build
/backend/storage/logs/*
!/backend/storage/logs/.gitignore
/backend/storage/framework/cache/*
!/backend/storage/framework/cache/.gitignore
/backend/storage/framework/sessions/*
!/backend/storage/framework/sessions/.gitignore
/backend/storage/framework/views/*
!/backend/storage/framework/views/.gitignore
/backend/parser/node_modules
